cluster_id = "fips-rhocp46"
clustername = "fips-rhocp46"
base_domain = "gtmaa.ga"
openshift_pull_secret = "./openshift_pull_secret.json"
openshift_installer_url = "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.6.15/"

aws_access_key_id = "AKIAVES5H36KJ7ETCYWD"
aws_secret_access_key = "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"
aws_ami = "ami-0a1f868ad58ea59a7"
aws_extra_tags = {
  "kubernetes.io/cluster/fips-rhocp46" = "owned",
  "owner" = "Alex.Groisman"
  }
aws_azs = [
  "us-east-2a",
  "us-east-2b",
  "us-east-2c"
  ]
aws_region = "us-east-2"
aws_publish_strategy = "External"
