aws_region = "us-east-2"
aws_azs = ["a", "b", "c"]
default_tags = { "owner" = "aws-user01" }
infrastructure_id = "ocp4-abcde"
clustername = "ocp4"
private_vpc_cidr = "10.10.0.0/16"
vpc_private_subnet_cidrs = ["10.10.10.0/24","10.10.11.0/24","10.10.12.0/24"]
domain = "example.com"
# public_vpc_cidr = "172.16.0.0/16"
public_vpc_id = "vpc-0123456789"
vpc_private_subnet_cidrs = ["172.16.10.0/24","172.16.11.0/24","172.16.12.0/24"]
vpc_public_subnet_cidrs = ["172.16.20.0/24","172.16.21.0/24","172.16.22.0/24"]
ami = "ami-0bc59aaa7363b805d"
aws_access_key_id = "Aaccessid"
aws_secret_access_key = "accesssecret"
cluster_network_cidr = "192.168.0.0/17"
cluster_network_host_prefix = "23"
service_network_cidr = "192.168.128.0/24"
bootstrap = { type = "i3.xlarge" }
control_plane = { count = "3" , type = "m4.xlarge", disk = "120" }
use_worker_machinesets = true
# worker = {        count = "3" , type = "m4.large" , disk = "120" }
openshift_pull_secret = "./openshift_pull_secret.json"
openshift_installer_url = "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest"
vpc_private_subnet_ids = [
"subnet-0556e9da906c48b09",
"subnet-03eb22e1bb944d5a0",
"subnet-014e8063787f5bd0c"
]
vpc_public_subnet_ids = [
"subnet-0e0eea1735086ae90",
"subnet-086c2117dde507c69",
"subnet-02a76d7dbb84a5070"
]
